<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/clase6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# zip

In [3]:
listas1 = ["nombre", "apellido", "ciudad"]
lista2 =["ana", "rodrigues", "popayan"]
dic ={i:j for i,j in zip(listas1, lista2)}
print(dic)

{'nombre': 'ana', 'apellido': 'rodrigues', 'ciudad': 'popayan'}

estructuras de control,
# switch, breack, continue, complemento de iteracion

In [9]:
x = "Andrea"
for i in x:
  if i=="e":
    print("se obtuvo la letra e")
    break
print(i)

se obtuvo la letra e
e

In [12]:
x = 15
while True:
  x -=1
  print(x)
  if x==0:
    break
  print("se finaliza ciclo")

14
se finaliza ciclo
13
se finaliza ciclo
12
se finaliza ciclo
11
se finaliza ciclo
10
se finaliza ciclo
9
se finaliza ciclo
8
se finaliza ciclo
7
se finaliza ciclo
6
se finaliza ciclo
5
se finaliza ciclo
4
se finaliza ciclo
3
se finaliza ciclo
2
se finaliza ciclo
1
se finaliza ciclo
0

In [13]:
for i in range(1, 8):
  for j in range(1,8):
    break
  print(i,j)

1 1
2 1
3 1
4 1
5 1
6 1
7 1

In [15]:
x = "ANDREA"
for i in x:
  if i == "R":
    continue
  print(i)

A
N
D
E
A

In [16]:
x = 15
while x >0:
  x -=1
  if x == 3:
    continue
  print(x)

14
13
12
11
10
9
8
7
6
5
4
2
1
0

In [19]:
w=["sa","se", "si", "so","su"]
indice=1
for i in w:
  print(indice,i)
  indice+=1

1 sa
2 se
3 si
4 so
5 su

In [20]:
w=["sa","se", "si", "so","su"]
for indice, i in enumerate(w):
  print(indice,i)
x = list(enumerate(w))
print(x)

0 sa
1 se
2 si
3 so
4 su
[(0, 'sa'), (1, 'se'), (2, 'si'), (3, 'so'), (4, 'su')]

In [18]:
w=["sa","se", "si", "so","su"]
for indice, i in enumerate(w):
  print(indice,i)

0 sa
1 se
2 si
3 so
4 su

In [26]:
a=[1,2,3]
b=["a","b","c"]
x= ("q","w","e")
z= (10,20,30)
c=zip(a,b)
print(list(c))

for i,j,k,l in zip(a,b,x,z):
  print(i,j,k,l)

[(1, 'a'), (2, 'b'), (3, 'c')]
1 a q 10
2 b w 20
3 c e 30

In [27]:
a=[1,2,3]
b=["a","b"]
for sa,se in zip(a,b):
  print(sa,se)

1 a
2 b

In [30]:
c=[(1,'a'),(2,'b'),(3,'c')]
a,b=zip(*c)
print(a)
print(b)

(1, 2, 3)
('a', 'b', 'c')

# FUNCIONES

In [33]:
def f(a):
  return 2*a
y=f(3)
print(y)

6

In [35]:
def s():#declaracion de función
  print("hi luisa")
s()#al cerrar la definición de función me va aparecer la ejecucion del codigo

hi luisa

In [37]:
def s(apellido):
  print("HI luisa", apellido)
s("varon")

HI luisa varon

In [39]:
def suma(a,b):
  return a+b
suma(3,5)

8

In [40]:
suma(a=4, b=20)#llamamos la funcion creada

24

In [52]:
def suma(number):
  total=0
  for i in number:
    total +=i
  return total
suma([1,3,5,4])

13

In [54]:
def suma(*number):
  print(type(number))
  total=0
  for i in number:
    total+=1
  return total
suma(1,3,5,4)

<class 'tuple'>

4