<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/Manejo_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos listas

In [8]:
a = ["luisa", 5,True, "abogada"]
print(a,type(a))
print(a[0])

['luisa', 5, True, 'abogada'] <class 'list'>
luisa

# Ejemplos tuplas

In [13]:
b= ("Gabriela", -1, "flor", 6)
print(b)
a =("Juana",17 , "estudiante")
print(a, b)
print(a, b[0])
print(a[1],b[2])

('Gabriela', -1, 'flor', 6)
('Juana', 17, 'estudiante') ('Gabriela', -1, 'flor', 6)
('Juana', 17, 'estudiante') Gabriela
17 flor

# ejemplos diccionarios

In [55]:
diccionario = {
  "clave1":234,
  "clave2":True,
  "clave3":"Valor 1",
  "clave4":[1,2,3,4]}
print(diccionario, type(diccionario))
print(diccionario.values())
print(diccionario.keys())
print(diccionario.items())

{'clave1': 234, 'clave2': True, 'clave3': 'Valor 1', 'clave4': [1, 2, 3, 4]} <class 'dict'>
dict_values([234, True, 'Valor 1', [1, 2, 3, 4]])
dict_keys(['clave1', 'clave2', 'clave3', 'clave4'])
dict_items([('clave1', 234), ('clave2', True), ('clave3', 'Valor 1'), ('clave4', [1, 2, 3, 4])])

# Operadores aritmeticos

## suma y resta

In [59]:
print(10+300)
a = 20
b = 35
print(a+b)

#resta
print(10-300)
a = 20
b = 35
print(a-b)

310
55
-290
-15

In [62]:
numero_botellas = 12
numero_botellas = numero_botellas +8
print(numero_botellas)
print(numero_botellas + 8)

20
28

# Sumas entre los diferentes tipos de variables

In [65]:
q1 = 100
q2 = 24.5
print(type(q1 + q2))

<class 'float'>

In [67]:
v1 = " quiero "
v2 = "un celular"
v3 = v1 + v2
print(v3)

 quiero un celular

In [71]:
xq2 = 235
xq3 = 400
print(xq2-xq3)

xq2 = 24.66
xq3 = 4
print(type(xq2-xq3))
print(xq2-xq3)

-165
<class 'float'>
20.66

# Multiplicacion

In [74]:
cali = 5
palmira = 6
print(cali * palmira)

cali = 5
palmira = 6
print(palmira * cali)

30
30

# Division

In [77]:
a = 20
b = 4
print(a/b," " ,b/a, " ",a+b," " ,a-b)

5.0   0.2   24   16

# Tipos de division

In [82]:
print(15//3)# division exacta
print(15/4) # division inexacta

5
3.75

# Modulo y potenciacion

In [83]:
print(2**4) # el primer valor es la base y el segundo es la potencia
print(3**3)

16

In [85]:
print(88%9) # el primer valor es el dividendo y el segundo el divisor
print(81%9)

7
0

In [86]:
x = 30
z = 31
print(x==z)

False

In [88]:
x = "casa"
z = "casa"
print(x==z)

x = "casa"
z = "caza"
print(x==z)

True
False

In [93]:
x = "casa"
z = "caza"
print(x != z)

print(30>29.8)
print(20>10)

True
True
True

In [94]:
x = 10 # mayor que >
y = 5
print(x > y)

True

In [95]:
#menor que <
c = 45
print(c<26)

False

In [98]:
a = 3
b = 2
print(a>4 or a == 4)
print(b == b and a>= b)

False
True

In [99]:
print(not False)
print(not True)

True
False

In [101]:
a = False
b = True
c = True

print(not c and (a or b ))

False

In [102]:
print(3-2 * (13-5))

-13