<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/Manejo_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejemplos listas

In [8]:
a = ["luisa", 5,True, "abogada"]
print(a,type(a))
print(a[0])

['luisa', 5, True, 'abogada'] <class 'list'>
luisa

# Ejemplos tuplas

In [13]:
b= ("Gabriela", -1, "flor", 6)
print(b)
a =("Juana",17 , "estudiante")
print(a, b)
print(a, b[0])
print(a[1],b[2])

('Gabriela', -1, 'flor', 6)
('Juana', 17, 'estudiante') ('Gabriela', -1, 'flor', 6)
('Juana', 17, 'estudiante') Gabriela
17 flor

# ejemplos diccionarios

In [55]:
diccionario = {
  "clave1":234,
  "clave2":True,
  "clave3":"Valor 1",
  "clave4":[1,2,3,4]}
print(diccionario, type(diccionario))
print(diccionario.values())
print(diccionario.keys())
print(diccionario.items())

{'clave1': 234, 'clave2': True, 'clave3': 'Valor 1', 'clave4': [1, 2, 3, 4]} <class 'dict'>
dict_values([234, True, 'Valor 1', [1, 2, 3, 4]])
dict_keys(['clave1', 'clave2', 'clave3', 'clave4'])
dict_items([('clave1', 234), ('clave2', True), ('clave3', 'Valor 1'), ('clave4', [1, 2, 3, 4])])