<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [17]:
pk = pd.read_csv('pokemon_data.csv')
pk

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [8]:
pk['loquequira'] = 2

In [11]:
pk.loc[pk['Type 1']=='Fire'[pk['Type 1']=='Grass']

SyntaxError: ignored

In [12]:
pk.head(2)

   #       Name Type 1  Type 2  ...  Generation  Legendary  loquequiera  loquequira
0  1  Bulbasaur  Grass  Poison  ...           1      False  loquequiera           2
1  2    Ivysaur  Grass  Poison  ...           1      False  loquequiera           2

[2 rows x 14 columns]

In [13]:
pk.loc[pk['Type 1']=='Grass', 'catched']=True
pk.head()

   #                   Name Type 1  ...  loquequiera  loquequira  catched
0  1              Bulbasaur  Grass  ...  loquequiera           2     True
1  2                Ivysaur  Grass  ...  loquequiera           2     True
2  3               Venusaur  Grass  ...  loquequiera           2     True
3  3  VenusaurMega Venusaur  Grass  ...  loquequiera           2     True
4  4             Charmander   Fire  ...          NaN           2      NaN

[5 rows x 15 columns]

In [4]:
pk['type 1'],unique() 
for i in pk_type:
  print(i)
pk.loc[pk['Type 1']== i, 'catched']=True

NameError: ignored

In [ ]:
pk=pd.read.csv

In [ ]:
pk=pk_type

In [19]:
for i in pk_type:
  print(i)

NameError: ignored

In [12]:
pk.drop(labels='loquequiera', axis=1, inplace=True)

KeyError: ignored

In [ ]:
pk.loc[(pk[Type])]