<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/ProyectoNFL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sm
import statsmodels.formula.api as sfm
from matplotlib.widgets import Slider, Button, RadioButtons
from scipy import interp
from scipy.optimize import fsolve
from scipy.stats import chi2_contingency, ttest_ind
from sklearn.metrics import roc_curve, auc
from sklearn.model_selection import StratifiedKFold
from statsmodels.formula.api import ols

In [144]:
df= pd.read_csv("pbp-2021.csv")

In [145]:
df.describe

<bound method NDFrame.describe of            GameId    GameDate  Quarter  ...  IsNoPlay  PenaltyType PenaltyYards
0      2021103112  2021-10-31        3  ...         0          NaN            0
1      2021103112  2021-10-31        3  ...         0          NaN            0
2      2021103112  2021-10-31        3  ...         0          NaN            0
3      2021103112  2021-10-31        3  ...         0          NaN            0
4      2021103112  2021-10-31        3  ...         0          NaN            0
...           ...         ...      ...  ...       ...          ...          ...
21878  2021091204  2021-09-12        4  ...         0          NaN            0
21879  2021091202  2021-09-12        1  ...         0          NaN            0
21880  2021090900  2021-09-09        3  ...         0          NaN            0
21881  2021090900  2021-09-09        2  ...         0          NaN            0
21882  2021090900  2021-09-09        1  ...         0          NaN            0

[21883 rows x 45 columns]>

In [146]:
df.shape

(21883, 45)

In [147]:
df["GameId"].unique().shape

(122,)

In [148]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21883 entries, 0 to 21882
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   GameId                          21883 non-null  int64
 1   GameDate                        21883 non-null  object
 2   Quarter                         21883 non-null  int64
 3   Minute                          21883 non-null  int64
 4   Second                          21883 non-null  int64
 5   OffenseTeam                     19965 non-null  object
 6   DefenseTeam                     19965 non-null  object
 7   Down                            21883 non-null  int64
 8   ToGo                            21883 non-null  int64
 9   YardLine                        21883 non-null  int64
 10  Unnamed: 10                     0 non-null      float64
 11  SeriesFirstDown                 21883 non-null  int64
 12  Unnamed: 12                     0 non-null      float64
 13  NextScore                       21883 non-null  int64
 14  Description                     21883 non-null  object
 15  TeamWin                         21883 non-null  int64
 16  Unnamed: 16                     0 non-null      float64
 17  Unnamed: 17                     0 non-null      float64
 18  SeasonYear                      21883 non-null  int64
 19  Yards                           21883 non-null  int64
 20  Formation                       21383 non-null  object
 21  PlayType                        20871 non-null  object
 22  IsRush                          21883 non-null  int64
 23  IsPass                          21883 non-null  int64
 24  IsIncomplete                    21883 non-null  int64
 25  IsTouchdown                     21883 non-null  int64
 26  PassType                        9078 non-null   object
 27  IsSack                          21883 non-null  int64
 28  IsChallenge                     21883 non-null  int64
 29  IsChallengeReversed             21883 non-null  int64
 30  Challenger                      0 non-null      float64
 31  IsMeasurement                   21883 non-null  int64
 32  IsInterception                  21883 non-null  int64
 33  IsFumble                        21883 non-null  int64
 34  IsPenalty                       21883 non-null  int64
 35  IsTwoPointConversion            21883 non-null  int64
 36  IsTwoPointConversionSuccessful  21883 non-null  int64
 37  RushDirection                   5832 non-null   object
 38  YardLineFixed                   21883 non-null  int64
 39  YardLineDirection               21883 non-null  object
 40  IsPenaltyAccepted               21883 non-null  int64
 41  PenaltyTeam                     1729 non-null   object
 42  IsNoPlay                        21883 non-null  int64
 43  PenaltyType                     1729 non-null   object
 44  PenaltyYards                    21883 non-null  int64
dtypes: float64(5), int64(29), object(11)
memory usage: 7.5+ MB
None

In [149]:
df["OffenseTeam"].unique()

array(['MIN', 'DAL', nan, 'KC', 'NYG', 'JAX', 'SEA', 'NE', 'LAC', 'NO',
       'CIN', 'NYJ', 'WAS', 'DEN', 'TB', 'LA', 'HOU', 'PIT', 'CLE', 'IND',
       'TEN', 'DET', 'PHI', 'MIA', 'SF', 'BUF', 'CHI', 'GB', 'ARI', 'LV',
       'CAR', 'ATL', 'BAL'], dtype=object)

In [150]:
df["DefenseTeam"].unique()

array(['DAL', 'MIN', nan, 'NYG', 'KC', 'SEA', 'JAX', 'LAC', 'NE', 'TB',
       'NYJ', 'CIN', 'DEN', 'WAS', 'NO', 'HOU', 'LA', 'CLE', 'PIT', 'TEN',
       'IND', 'PHI', 'DET', 'BUF', 'CHI', 'MIA', 'SF', 'ARI', 'GB', 'LV',
       'ATL', 'CAR', 'BAL'], dtype=object)

In [151]:
game=df.iloc[ :, [0,1,5,6,14,21,25,36,42]]
game

           GameId    GameDate  ... IsTwoPointConversionSuccessful IsNoPlay
0      2021103112  2021-10-31  ...                              0        0
1      2021103112  2021-10-31  ...                              0        0
2      2021103112  2021-10-31  ...                              0        0
3      2021103112  2021-10-31  ...                              0        0
4      2021103112  2021-10-31  ...                              0        0
...           ...         ...  ...                            ...      ...
21878  2021091204  2021-09-12  ...                              0        0
21879  2021091202  2021-09-12  ...                              0        0
21880  2021090900  2021-09-09  ...                              0        0
21881  2021090900  2021-09-09  ...                              0        0
21882  2021090900  2021-09-09  ...                              0        0

[21883 rows x 9 columns]

In [158]:
game["Totalpuntos"]
game.head(1)

       GameId    GameDate  ... IsNoPlay Totalpuntos
0  2021103112  2021-10-31  ...        0           0

[1 rows x 10 columns]

In [159]:
game.info

<bound method DataFrame.info of            GameId    GameDate  ... IsNoPlay Totalpuntos
0      2021103112  2021-10-31  ...        0           0
1      2021103112  2021-10-31  ...        0           0
2      2021103112  2021-10-31  ...        0           0
3      2021103112  2021-10-31  ...        0           0
4      2021103112  2021-10-31  ...        0           0
...           ...         ...  ...      ...         ...
21878  2021091204  2021-09-12  ...        0           0
21879  2021091202  2021-09-12  ...        0           0
21880  2021090900  2021-09-09  ...        0           0
21881  2021090900  2021-09-09  ...        0           0
21882  2021090900  2021-09-09  ...        0           0

[21883 rows x 10 columns]>

In [160]:
game.head(3)

       GameId    GameDate  ... IsNoPlay Totalpuntos
0  2021103112  2021-10-31  ...        0           0
1  2021103112  2021-10-31  ...        0           0
2  2021103112  2021-10-31  ...        0           0

[3 rows x 10 columns]

In [161]:
game[(game["PlayType"]=="FIELD GOAL") & (game["Description"].str.contains("IS GOOD"))]

           GameId    GameDate  ... IsNoPlay Totalpuntos
0      2021103112  2021-10-31  ...        0           0
12     2021110100  2021-11-01  ...        0           0
17     2021110100  2021-11-01  ...        0           0
65     2021103112  2021-10-31  ...        0           0
75     2021103112  2021-10-31  ...        0           0
...           ...         ...  ...      ...         ...
10535  2021091200  2021-09-12  ...        0           0
10551  2021090900  2021-09-09  ...        0           0
10558  2021090900  2021-09-09  ...        0           0
17556  2021101012  2021-10-10  ...        0           0
21640  2021101711  2021-10-17  ...        0           0

[373 rows x 10 columns]

In [162]:
game[(game["Description"].str.contains("IS GOOD"))]

           GameId    GameDate  ... IsNoPlay Totalpuntos
0      2021103112  2021-10-31  ...        0           0
7      2021103112  2021-10-31  ...        0           0
12     2021110100  2021-11-01  ...        0           0
17     2021110100  2021-11-01  ...        0           0
26     2021110100  2021-11-01  ...        0           0
...           ...         ...  ...      ...         ...
21683  2021101700  2021-10-17  ...        0           0
21697  2021101702  2021-10-17  ...        0           0
21700  2021101701  2021-10-17  ...        0           0
21777  2021092612  2021-09-26  ...        0           0
21852  2021091902  2021-09-19  ...        0           0

[925 rows x 10 columns]

In [163]:
game[(game["IsTouchdown"] == 1 ) & (game["IsNoPlay"]== 0)]

           GameId    GameDate  ... IsNoPlay Totalpuntos
27     2021110100  2021-11-01  ...        0           0
55     2021103112  2021-10-31  ...        0           0
95     2021103109  2021-10-31  ...        0           0
119    2021103108  2021-10-31  ...        0           0
148    2021103108  2021-10-31  ...        0           0
...           ...         ...  ...      ...         ...
21566  2021103112  2021-10-31  ...        0           0
21653  2021101707  2021-10-17  ...        0           0
21671  2021101706  2021-10-17  ...        0           0
21715  2021101009  2021-10-10  ...        0           0
21766  2021100303  2021-10-03  ...        0           0

[693 rows x 10 columns]

In [164]:
game[game["IsTwoPointConversionSuccessful"] == 1]

           GameId    GameDate  ... IsNoPlay Totalpuntos
132    2021103108  2021-10-31  ...        0           0
350    2021103105  2021-10-31  ...        0           0
385    2021103107  2021-10-31  ...        0           0
763    2021103103  2021-10-31  ...        1           0
832    2021103101  2021-10-31  ...        0           0
1159   2021103102  2021-10-31  ...        0           0
1679   2021102406  2021-10-24  ...        0           0
2202   2021102407  2021-10-24  ...        0           0
2421   2021101800  2021-10-18  ...        0           0
2583   2021101710  2021-10-17  ...        0           0
2987   2021101704  2021-10-17  ...        0           0
3212   2021101400  2021-10-14  ...        0           0
3276   2021101100  2021-10-11  ...        0           0
3501   2021101009  2021-10-10  ...        0           0
3505   2021101009  2021-10-10  ...        0           0
3658   2021101706  2021-10-17  ...        0           0
3669   2021101702  2021-10-17  ...        0           0
3729   2021101100  2021-10-11  ...        0           0
3909   2021101009  2021-10-10  ...        0           0
4381   2021101000  2021-10-10  ...        0           0
4773   2021101005  2021-10-10  ...        0           0
5083   2021100310  2021-10-03  ...        0           0
5266   2021101001  2021-10-10  ...        0           0
5328   2021101002  2021-10-10  ...        0           0
5432   2021100305  2021-10-03  ...        0           0
5588   2021100307  2021-10-03  ...        0           0
6271   2021100303  2021-10-03  ...        0           0
6454   2021092610  2021-09-26  ...        0           0
6598   2021100306  2021-10-03  ...        0           0
7461   2021091911  2021-09-19  ...        0           0
7557   2021092604  2021-09-26  ...        0           0
7617   2021092608  2021-09-26  ...        0           0
7667   2021092606  2021-09-26  ...        0           0
7774   2021091910  2021-09-19  ...        0           0
8002   2021091913  2021-09-19  ...        1           0
8446   2021091907  2021-09-19  ...        0           0
9011   2021091903  2021-09-19  ...        0           0
9079   2021091209  2021-09-12  ...        0           0
9695   2021091202  2021-09-12  ...        0           0
9724   2021091204  2021-09-12  ...        0           0
9730   2021091204  2021-09-12  ...        0           0
10196  2021091200  2021-09-12  ...        0           0

[42 rows x 10 columns]