<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd

# CARGA DE ARCHIVOS

In [25]:
pk = pd.read_csv('pokemon_data.csv', index_col='#')#cuando tiene un identificador podemos quitar el automatico de pd
pk

                      Name   Type 1  Type 2  ...  Speed  Generation  Legendary
#                                            ...
1                Bulbasaur    Grass  Poison  ...     45           1      False
2                  Ivysaur    Grass  Poison  ...     60           1      False
3                 Venusaur    Grass  Poison  ...     80           1      False
3    VenusaurMega Venusaur    Grass  Poison  ...     80           1      False
4               Charmander     Fire     NaN  ...     65           1      False
..                     ...      ...     ...  ...    ...         ...        ...
719                Diancie     Rock   Fairy  ...     50           6       True
719    DiancieMega Diancie     Rock   Fairy  ...    110           6       True
720    HoopaHoopa Confined  Psychic   Ghost  ...     70           6       True
720     HoopaHoopa Unbound  Psychic    Dark  ...     80           6       True
721              Volcanion     Fire   Water  ...     70           6       True

[800 rows x 11 columns]

In [8]:
pk.head(10)

                        Name Type 1  Type 2  ...  Speed  Generation  Legendary
#                                            ...
1                  Bulbasaur  Grass  Poison  ...     45           1      False
2                    Ivysaur  Grass  Poison  ...     60           1      False
3                   Venusaur  Grass  Poison  ...     80           1      False
3      VenusaurMega Venusaur  Grass  Poison  ...     80           1      False
4                 Charmander   Fire     NaN  ...     65           1      False
5                 Charmeleon   Fire     NaN  ...     80           1      False
6                  Charizard   Fire  Flying  ...    100           1      False
6  CharizardMega Charizard X   Fire  Dragon  ...    100           1      False
6  CharizardMega Charizard Y   Fire  Flying  ...    100           1      False
7                   Squirtle  Water     NaN  ...     43           1      False

[10 rows x 11 columns]

In [9]:
pk.head()#muestra los primeros 5 registros o personalizarlos que querramos()

                    Name Type 1  Type 2  ...  Speed  Generation  Legendary
#                                        ...
1              Bulbasaur  Grass  Poison  ...     45           1      False
2                Ivysaur  Grass  Poison  ...     60           1      False
3               Venusaur  Grass  Poison  ...     80           1      False
3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False
4             Charmander   Fire     NaN  ...     65           1      False

[5 rows x 11 columns]

In [10]:
pk.tail()#aqui los ultimos de la lista, o especificar con un numero dentro()

                    Name   Type 1 Type 2  ...  Speed  Generation  Legendary
#                                         ...
719              Diancie     Rock  Fairy  ...     50           6       True
719  DiancieMega Diancie     Rock  Fairy  ...    110           6       True
720  HoopaHoopa Confined  Psychic  Ghost  ...     70           6       True
720   HoopaHoopa Unbound  Psychic   Dark  ...     80           6       True
721            Volcanion     Fire  Water  ...     70           6       True

[5 rows x 11 columns]

In [11]:
pk.tail(13)

                    Name   Type 1  Type 2  ...  Speed  Generation  Legendary
#                                          ...
711  GourgeistSuper Size    Ghost   Grass  ...     54           6      False
712             Bergmite      Ice     NaN  ...     28           6      False
713              Avalugg      Ice     NaN  ...     28           6      False
714               Noibat   Flying  Dragon  ...     55           6      False
715              Noivern   Flying  Dragon  ...    123           6      False
716              Xerneas    Fairy     NaN  ...     99           6       True
717              Yveltal     Dark  Flying  ...     99           6       True
718     Zygarde50% Forme   Dragon  Ground  ...     95           6       True
719              Diancie     Rock   Fairy  ...     50           6       True
719  DiancieMega Diancie     Rock   Fairy  ...    110           6       True
720  HoopaHoopa Confined  Psychic   Ghost  ...     70           6       True
720   HoopaHoopa Unbound  Psychic    Dark  ...     80           6       True
721            Volcanion     Fire   Water  ...     70           6       True

[13 rows x 11 columns]

In [14]:
pk =pd.read_csv('pokemon_data.csv')
pk

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [15]:
pk.describe

<bound method NDFrame.describe of        #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]>

In [26]:
pk_filtrado = pk.dropna() ##limpiar datos o elimina registros con datos incompletos
pk_filtrado.head()

                    Name Type 1  Type 2  ...  Speed  Generation  Legendary
#                                        ...
1              Bulbasaur  Grass  Poison  ...     45           1      False
2                Ivysaur  Grass  Poison  ...     60           1      False
3               Venusaur  Grass  Poison  ...     80           1      False
3  VenusaurMega Venusaur  Grass  Poison  ...     80           1      False
6              Charizard   Fire  Flying  ...    100           1      False

[5 rows x 11 columns]

In [18]:
pk.fillna(0) ##nos cambia el valor nan por el valor que le pasemos en el parametro

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [19]:
pk.fillna({'generation':1, 'legendary': True}) ##podemos cambiar los valores de la columna, asignandole valor que deseemos

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

In [22]:
pk['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [ ]:
pk.groupby(['type1'])