<a href="https://colab.research.google.com/github/dianaquinterol/MujeresDigitales/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= ['a','b','c','d']

for i in range(len(a)-1,-1,-1):
  print(a[i],end=",")

d,c,b,a,

In [ ]:
b='Hola soy sebastian'
for i in range(len(b)-1,-1,-1):
  print(b[i],end="")

naitsabes yos aloH

In [ ]:
def cuadrado(x):
  resultado = x **2
  return resultado

In [ ]:
def AreaCirculo(r):
  pi=3.14
  area = pi*r**2
  return area

In [ ]:
def raiz(num):
  r=num**0.5
  return r
  print(r)

In [ ]:
def hipotenusa(c1,c2):
  c1_cuadrado = cuadrado(c1)
  c2_cuadrado = cuadrado(c2)
  suma=c1_cuadrado+ c2_cuadrado
  h=raiz(suma)
  return h
print(hipotenusa(3,4))

5.0

In [ ]:
n = int(input("digite el un numero para calcular el factorial: "))
def factorial(n):
  fact = 1
  for i in range(1, num +1):
    fact= fact *1
    return factorial

digite el un numero para calcular el factorial: 7

In [ ]:
micadena = "Hola Mundo"
print(micadena[5:10])
print("esta {4}".format('es ','una ','cadena ','de ','texto '))

Mundo
esta texto

In [ ]:
resultados = 188/888
print("Los resultados son {r:1.2f}".format(r=resultados))

Los resultados son 0.21

In [ ]:
nombre = "Diana"
edad = "42"
print(f"mi nombre es {nombre} y mi edad es {edad} años")

mi nombre es Diana y mi edad es 42 años

In [ ]:
mi_lista = ['uno','dos','tres']
otra_lista = ['cuatro','cinco']
nueva_lista = mi_lista + otra_lista
nueva_lista[1]= 'ocho'
nueva_lista.append('nueve')
nueva_lista.pop()
item_pope = nueva_lista.pop(-1)
print(item_pope)

cinco

In [ ]:
mi_lista = ['a','b','c','d']
mi_lista = ['z','j','d','g']
mi_lista[0] = 's'
mi_lista.reverse()
mi_lista.sort()

print(mi_lista)

['d', 'g', 'j', 's']

In [ ]:
mi_diccionario = {'llave1':['valor1','valor10'], 'llave2':'valor2', 'llave3':'valor3'}
print(mi_diccionario)
mi_diccionario['llave4']='clave4'
print(mi_diccionario['llave1'][1])
print(mi_diccionario.keys())
print(mi_diccionario.values())

{'llave1': ['valor1', 'valor10'], 'llave2': 'valor2', 'llave3': 'valor3'}
valor10
dict_keys(['llave1', 'llave2', 'llave3', 'llave4'])
dict_values([['valor1', 'valor10'], 'valor2', 'valor3', 'clave4'])

In [ ]:
miset = set()
miset.add(1)
mi_lista = [1,2,3,1,3,3,3,4]
print(set(mi_lista))

{1, 2, 3, 4}

In [ ]:
def buscar_en_lista(lista,valor=1):
  encontrado = False
  for i in lista:
    if i == valor:
      encontrado = True
    else:
      return encontrado

In [ ]:
def buscar_posicion(lista,valor=1):
  encontrado = False
  for ind, i in enumerate(lista):
    if i == valor:
      encontrado = ind
      break
  return encontrado

In [ ]:
def buscar_posicion(lista, valor=2):
  encontrado = False
  for i in range(len(lista)):
    if lista[i] == valor:
      encotrado = i
      break
  return encontradoF

In [ ]:
lista_original = ['producto','Descripcion','Cantidad','Precio']
#lista_original = " ".join(lista_original)
lista_original = '|'.join(lista_original)
print(lista_original)

producto|Descripcion|Cantidad|Precio

In [ ]:
lista_original = ['producto','Descripcion','Cantidad','Precio']
#lista_original = ' '.join(lista_original)
lista_original = '|'.join(lista_original)
print('cadena original: '+ lista_original)
#lista_final = lista_original.split()
lista_final = lista_original.split('|')
print('lista final: '+ str(lista_final))

cadena original: producto|Descripcion|Cantidad|Precio
lista final: ['producto', 'Descripcion', 'Cantidad', 'Precio']

In [ ]:
#declaracion de constantes
PORT_DB_SERVER = 3307
USER_DB_SERVER = 'root'
PASS_DB_SERVER = '123456'
DB_NAME        = 'nomina'
#declaracion de variables
list_trama = ['producto','Descripcion','Cantidad','Precio']
str_trama = ' '
str_trama = str(PORT_DB_SERVER)+USER_DB_SERVER+PASS_DB_SERVER+DB_NAME
print('TRAMA : '+ str_trama)
print('\nPuerto : '+ str_trama[:4])
print('Usuario: ' + str_trama[4:8])
print('Clave  : ' + str_trama[8:14])
print('Tabla: ' + str_trama[14:])

TRAMA : 3307root123456nomina

Puerto : 3307
Usuario: root
Clave  : 123456
Tabla: nomina

In [ ]:
print('\n1 Metodo count ():\n')
cadena=(' hola...hola WCODE')
cadena.count('hola') #metodo count
print('la palabra ''hola'' aparece %d veces'%(cadena.count('hola')))
print('\n2 Metodo find():\n')
print('indice encontrado: %d' %(cadena.find('WCODE')))
print('Indice fallido : %d' %(cadena.find('Mundo')))
print('indice encontrado : %d'%(cadena.index('WCODE')))
#print('Indice fallido %d' %(cadena.index('HOLA')))

1 Metodo count ():

la palabra hola aparece 2 veces

2 Metodo find():

indice encontrado: 13
Indice fallido : -1
indice encontrado : 13

In [ ]:
cadena=(' hola...hola WCODE')
#cadena.startswith('subcadena') : permite saber si una cadena comienza con una subcadena determinada.
#dcadena.endswith('subcadena'): permite saber si una cadena finaliza con una subcadena determinada.
cadena.startswith(' h')
cadena.endswith('DE')

True

In [ ]:
cadena = '123456'
print('6) Metodo isdigit():\n')
print("-La cadena '%9s' es numerica?  | %s\n" % (cadena,cadena.isdigit()))
print('7) Metodo isalnum():\n')
print("-La cadena '%9s' es alfanumerica? | %s\n" % (cadena,cadena.isalnum()))
print("8) Metodo isalpha ():\n")
print("-la cadena '%9s' es alfabetica? | %s\n" %(cadena,cadena.isalpha()))
print("9) Metodo isspace ():\n")
print("-La cadena '%9s' contine espacios? | %s\n" %(cadena,cadena.isspace()))

6) Metodo isdigit():

-La cadena '   123456' es numerica?  | True

7) Metodo isalnum():

-La cadena '   123456' es alfanumerica? | True

8) Metodo isalpha ():

-la cadena '   123456' es alfabetica? | False

9) Metodo isspace ():

-La cadena '   123456' contine espacios? | False

In [ ]:
cadena = "De 0 a Programador"
print("10) Metodo upper():\n")
print("-Cadena Original : %s" %(cadena))
print("-Cadena en mayusculas : %s" %(cadena.upper()))
print("11) Metodo Lower() : \n")
print("-Cadena Original : %s" %(cadena))
print("-Cadena en Minusculas : %s" %(cadena.lower()))
print("12) Metodo replace(Cadena, Nuevacadena): \n")
print("-Cadena Original : %s" %(cadena))
print("-Cadena reemplazada : %s\n" %(cadena.replace("Programador","profesional")))

10) Metodo upper():

-Cadena Original : De 0 a Programador
-Cadena en mayusculas : DE 0 A PROGRAMADOR
11) Metodo Lower() :

-Cadena Original : De 0 a Programador
-Cadena en Minusculas : de 0 a programador
12) Metodo replace(Cadena, Nuevacadena):

-Cadena Original : De 0 a Programador
-Cadena reemplazada : De 0 a profesional

In [ ]:
#while
tabla = 2
numero = 1
resultado = 0
cadena = "TABLA DE MULTIPLICAR"
print("\n" + cadena.center(35, "*") + "\n")
while numero < 11:
  resultado = tabla * numero 
  print(tabla ,"x", numero, "=", resultado)
  numero += 1

********TABLA DE MULTIPLICAR*******

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
#BUCLE INFINITO, while infinito
intento = 0
clave = "ABC123"
cadena = "BUCLE INFINITO"

print("\n" + cadena.center(35,"*") + "\n")
while True:
  password = input("INDIQUE LA CLAVE: ")
  intento = intento + 1
  if password == clave:
    print("Clave correcta!\n")
    intento = 0
    break

  elif intento == 3:
    print("USUARIO BLOQUEADO\n")
    break
  else:
    print("Clave incorrecta intento: ", intento) 

#while indice < len(mi_lista): for in con while
  print(mi_lista[indice])    
  indice = indice + 1

***********BUCLE INFINITO**********

INDIQUE LA CLAVE: abc
Clave incorrecta intento:  1
INDIQUE LA CLAVE: ABC123
Clave correcta!

In [ ]:
#BUCLE FOR IN
mi_lista = ["Gaby", "Antonio", "Pedro", "Herminio"]
cadena = "BUCLE FOR IN"
print("\n" + cadena.center(35, "*") + "\n")
for nombre in mi_lista:
  print(nombre)

************BUCLE FOR IN***********

Gaby
Antonio
Pedro
Herminio

In [ ]:
#FOR IN RANGE
numero = (int(input("introduce el numero a elevar: ")))
for potencia in range(0,11):
  resultado= numero**potencia
  print(numero ,"elevado a ", potencia, "es" ,resultado)

introduce el numero a elevar: 5
5 elevado a  0 es 1
5 elevado a  1 es 5
5 elevado a  2 es 25
5 elevado a  3 es 125
5 elevado a  4 es 625
5 elevado a  5 es 3125
5 elevado a  6 es 15625
5 elevado a  7 es 78125
5 elevado a  8 es 390625
5 elevado a  9 es 1953125
5 elevado a  10 es 9765625

In [1]:
for i in range(1,11):
  for j in range(1,11):
    print(f'{i} x {j} = {i*j}')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [2]:
numero = int(input("ingrese un numero: "))
if numero < 2 and numero %2== 0:
  print("el numero no es primo")
else:
  print("el numero es primo ")

ingrese un numero: 4
el numero es primo

In [3]:
n = int(input("ingrese el numero"))
for i in range(1,n+1):
  print("*" * i)

ingrese el numero6
*
**
***
****
*****
******